.balao {
    display: none;
    position: fixed;
    top: 50%; /* Centraliza verticalmente na metade da tela */
    left: 50%; /* Centraliza horizontalmente na metade da tela */
    transform: translate(-50%, -50%); /* Corrige o deslocamento pelo tamanho do próprio balão */
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.fechar {
    position: relative; /* Define uma posição relativa para o elemento pai */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    color: red; /* Define uma posição relativa para o elemento pai */
    font-size: 14px; /* Define uma posição relativa para o elemento pai */
    font-weight: bold; /* Peso da fonte no caso negrito*/
    margin-right: 10px; /* Peso da fonte */
}
